.active{
  background-color: white;
  color:rgb(50, 50, 255);
  border-left: 5px solid rgb(50, 50, 255);
}

.sidebar {
  transition: width 1.5s ease; 
  width: 0;
}
.open{
  transition: transform 0.5s ease-in;
  transform: translateX(-191px);
}
.close{
  transition: transform 0.5s ease-in;
  transform: translateX(0px);
}